<nav
    class="component-navbar navbar sticky-top navbar-expand-md bg-body-tertiary"
>
    <div class="component-navbar__container container-fluid">
        <a class="component-navbar__brand navbar-brand" href="index.html"
            >Concurso</a
        >
        <button
            class="component-navbar__toggler navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span
                class="component-navbar__toggler-icon navbar-toggler-icon"
            ></span>
        </button>
        <div
            class="component-navbar__collapse collapse navbar-collapse"
            id="navbarSupportedContent"
        >
            <ul class="component-navbar__list navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="component-navbar__item nav-item">
                    <a class="component-navbar__link nav-link" href="page2.html"
                        >Page Two</a
                    >
                </li>
                <li class="component-navbar__item nav-item">
                    <a class="component-navbar__link nav-link" href="page3.html"
                        >Page Three</a
                    >
                </li>
                <li class="component-navbar__item nav-item">
                    <a class="component-navbar__link nav-link" href="page4.html"
                        >Page Four</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
